:root {
        --accent-color: #855e49;
    }

body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    }

 /* Button hover animation */
    .btn-animate {
      transition: all 0.3s ease-in-out;
    }
    .btn-animate:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out;
    }

    /* Modal PDF container */
    .resume-frame {
      width: 100%;
      height: 90vh;
      border: none;
    }
    
  @media (max-width: 768px) {
    .resume-section {
    padding: 2rem .5rem;
    }
  }

    /* social links styling */
    .socials .links a {
      transition: all 0.3s ease-in-out;
    }

    .socials .links a:hover {
      background-color: var(--accent-color) !important;
      color: #fff !important;
      transition: background-color 0.3s ease-in-out;
    }